.RestaurantComponentContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.MenuItemsComponentContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: lightgray;
}
.loadingIndicator {
  display: flex;
  justify-content: center;
  align-items: center;
}
.RestaurantComponent {
  width: 80%;
  padding: 20px 0;
}
.MenuItemsComponent {
  width: 70%;
  padding: 20px 0;
}
