.RestaurantComponentContainer {
  display: flex;
  padding: 20px 0;
  width: 1124px;
  margin: 0 auto;
}
.bannerContainer {
  display: flex;
  padding: 20px 0;
  width: 1124px;
  margin: 0 auto;
}
.MenuContainer {
  display: flex;
  width: 1124px;
  margin: 0 auto;
  background-color: #f3f5f5;
}
MenuItemsComponentContainer {
  width: 1124px;
  margin: 0 auto;
  display: flex;
}
.loadingIndicator {
  display: flex;
  justify-content: center;
  align-items: center;
}
.RestaurantComponent {
  padding: 20px 0;
}
.MenuItemsComponent {
  flex: 1;
}
.CartComponent {
  width: 370px;
}
.MenuItemsContainer {
  display: flex;
}
main {
  display: flex;
  background-color: #f3f5f5;
  padding-top: 40px;
  margin: 0 auto;
}

main {
  display: flex;
  background-color: #f3f5f5;
  padding-top: 40px;
}
