.restContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.loadingIndicator {
  display: flex;
  justify-content: center;
  align-items: center;
}
.restDesc {
  width: 80%;
  padding: 20px 0;
}
.menuItemsContainer {
  background-color: lightgrey;
  height: 100vw;
}
