.cardContainer {
  display: flex;
  justify-content: space-between;
  background-color: white;
  width: 300px;
  margin-right: 30px;
  margin-bottom: 30px;
  align-items: center;
  padding: 7px;
}

.foodDescription {
  font-size: 14px;
  line-height: 19px;
  color: grey;
  margin-bottom: 10px;
}

.foodPrice {
  font-size: 16px;
  line-height: 22px;
  color: grey;
  margin: 0;
}
