.restaurantDescContainer {
  display: flex;
  align-items: center;
}

.restaurantInfo {
  flex: 2;
  padding-right: 30px;
}
.restaurantImage {
  flex: 1;
}
.name {
  font-weight: bold;
  font-size: 2em;
}
.desc {
  font-size: 1em;
}

.restaurantImage > img {
  height: 160px;
  width: 370px;
  object-fit: cover;
  object-position: center;
  border-radius: 3px;
}
