.restaurantDescContainer {
  display: flex;
  align-items: center;
}

.restaurantInfo {
  flex: 1;
  padding-right: 30px;
}

.restaurantImage {
  width: 370px;
  height: 160px;
  object-fit: cover;
  object-position: center;
  border-radius: 3px;
}

.name {
  font-size: 28px;
  line-height: 28px;
  font-weight: 600;
  font-style: normal;
  color: #2e3333;
}

.desc {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  color: #818184;
}

.restaurantImage > img {
  height: 160px;
  width: 370px;
  object-fit: cover;
  object-position: center;
  border-radius: 3px;
}
