.cartMealContainer {
  display: flex;
  justify-content: space-between;
}

.quantityContainer {
  display: flex;
  align-items: center;
}

.cart-button {
  color: #21cbbc;
  font-size: 15px;
  margin: 5px;
  background: none;
  border: none;
  padding: 0;
}
